{% extends "base.html" %}

{% block content %}
 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li >
                        <a href="http://localhost:5000/form"><i class="fa fa-fw fa-cog"></i> Form</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/cryptoSummary"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/cryptoCharts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/cryptoTables"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="jumbotron">
                    <h1> wyjebalo </h1>
                </div>
                <!-- /.row -->

{% endblock %}
