{% extends "base.html" %}

{% block content %}


 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="http://localhost:5000/form"><i class="fa fa-fw fa-cog"></i> Form</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/cryptoSummary"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/cryptoCharts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="http://localhost:5000/cryptoTables"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Form
                            <small>QuickView</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Form</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Form
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

<div class="col-lg-6">
<h2> Fill it bitch </h2>
<form action="{{ url_for('summary') }}">
  <div class="form-group">
        <label for='currency'> Currency: </label>
        <input type="text" class="form-control" name='currency' value='LSK'>
  </div>
  <div class="form-group">
        <label for='fromDate'> From: </label>
        <input type="text" class="form-control" name='fromDate' placeholder="YYYY-MM-DD" value='2018-07-13' >
  </div>
  <div class="form-group">
        <label for='tillDate'> Till: </label>
        <input type="text" class="form-control" name='tillDate' placeholder="YYYY-MM-DD" value='2018-07-20'>
  </div>
    <button type="submit" class="btn btn-secondary">Submit</button>
</form>
</div>

{% endblock %}


{% comment %} <p>
{% if currency %}
You chose {{ currency }}
{% else %}
Please choose currency
{% endif %}
</p>

<form method = "POST">
    {{ form.currency.label }}{{ form.currency() }}
    {{ form.submit() }}
</form> {% endcomment %}
