{% extends "base.html" %}

{% block content %}


 <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="/forms"><i class="fa fa-fw fa-cog"></i> Form</a>
                    </li>
                    <li>
                        <a href="/cryptoSummary"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="/cryptoCharts"><i class="fa fa-fw fa-bar-chart-o"></i> Charts</a>
                    </li>
                    <li>
                        <a href="/cryptoTables"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Form
                            <small>QuickView</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Form</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-file"></i> Form
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <div class="alert alert-info" role="alert">
        <h2> Fill the form </h2>
        <p> Please choose something </p>
        </div>
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.currency.label }} {{ form.currency(class="form-control") }}
        <br>
        {{ form.fromDate.label }} {{ form.fromDate(class="form-control", value='2018-01-01') }}
        <br>
        {{ form.tillDate.label }} {{ form.tillDate(class="form-control", value='2018-01-31') }}
        <br>
        <input type="submit" value="Go" class="btn btn-danger">
    </form>
    </div>
</div>


{% endblock %}
